.waveplayer {
  align-items: center;
  display: flex;
  width: 700px;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 1em;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(--primary-color);
}

.playPause {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  height: 75px;
  width: 75px;
  font-size: 2em;
  color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.play {
  position: relative;
  left: 5px;
}

.currentTime,
.duration {
  font-family: var(--font-family);
  font-size: 1em;
}

.currentTime {
  margin-left: 25px;
}

.progressBar {
  --bar-bg: var(--primary-color);
  --seek-before-width: 0;
  --seek-before-color: var(--text-color);
  --knobby: var(--primary-color);
  --selectedKnobby: var(--text-color);

  appearance: none;
  background: var(--border-color);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

.progressBar::before {
  content: '';
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
