.wavePlayer {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.forwardBackward {
  background: none;
  border: none;
  font-family: var(--font-family);
  font-size: 1em;
  cursor: pointer;
  margin: auto;
}

.forwardBackward:hover {
  color: var(--primary-color);
}

.playPause {
  background-color: var(--background-color);
  border: none;
  justify-content: center;
  align-items: center;
}

.currentTime,
.duration {
  font-family: var(--font-family);
  font-size: 0.7em;
}

.currentTime {
  margin-right: 1.2em;
  text-shadow: 1px 1px 2px black;
}

.duration {
  margin-left: 1.2em;
  text-shadow: 1px 1px 2px black;
}
.progressBar {
  --bar-bg: var(--primary-color);
  --seek-before-color: var(--text-color);

  appearance: none;
  background: var(--border-color);
  border-radius: 10px;
  position: relative;
  width: 63vw;
  height: 0.8em;
  outline: none;
  box-shadow: 0 0 0.5em 0.1em #ec9e17;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

.progressBar::before {
  content: '';
  height: 11px;
  width: 0;
  background-color: var(--seek-before-color);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--background-color);
  border: 1px solid var(--primary-color);
}
