.trackcardhome {
  display: grid;
  grid-auto-flow: column;
  box-shadow: 0 0 10px -1px var(--text-color);
}
.video {
  position: absolute;
  bottom: 0;
}

.news {
  display: grid;
  justify-content: center;
  margin-left: 1em;
}

.heading {
  color: var(--primary-color);
  display: grid;
  justify-content: center;
  text-shadow: 4px 2px 4px #000;
  font-size: 2em;
  margin-bottom: 0.7em;
}

.userName {
  margin-left: 0.5em;
  color: var(--text-color);
  text-shadow: 0.1em 0.1em 0 #000;
}

.homepage {
  padding-top: 0.8em;
}
