@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  font-family: var(--font-family);
}

:root {
  --primary-color: #ec9e17;
  --secondary-color: #f8dd5a;
  --border-color: #707070;
  --text-color: #d6d6d6;
  --background-color: #2e2d2c;
  --font-family: 'Roboto', sans-serif;
}

html {
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
