.waveplayer {
  margin-top: 1em;
}

.container {
  overflow: auto;
  position: relative;
  height: 100vh;
}
.img {
  height: 78vh;
  width: 100%;
  z-index: 1;
}
.title {
  z-index: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2.5em;
  text-shadow: 5px 0 2px #000;
}

.artist {
  z-index: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 5%;
  font-size: 2em;
  text-shadow: 5px 0 2px #000;
}

.backbutton {
  z-index: 2;
  position: absolute;
  top: 3%;
  left: 5%;
}
