.button {
  font-family: var(--font-family);
  color: var(--background-color);
  background: var(--primary-color);
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.8em 2em;
  border: none;
  border-radius: 1.6em;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0 0 5px 2px #f8dd5a;
}
