.trackcard {
  border-radius: 5em;
  border: 0.1em solid var(--border-color);
  background-color: var(--background-color);
  box-shadow: 0 -0.1em 0.3em var(--text-color);
  max-width: 95%;
  max-height: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'cardimage cardimage title title title title likebutton likebutton'
    'cardimage cardimage artist artist artist artist likebutton likebutton';
}
.cardimage {
  grid-area: cardimage;
  width: 100%;
  height: 99%;
  border-radius: 5em;
  object-fit: cover;
  box-shadow: 0 0 0.7em var(--primary-color);
}
.title {
  grid-area: title;
  color: var(--text-color);
  padding-left: 0.55em;
  font-size: 1.3em;
  padding-top: 0;
  margin: 1px;
  letter-spacing: 0.03em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.artist {
  grid-area: artist;
  color: var(--text-color);
  padding-left: 0.7em;
  font-size: 1em;
  margin: 1px;
  letter-spacing: 0.02em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.likebutton {
  grid-area: likebutton;
  background-color: transparent;
  height: 1em;
  width: 1.5em;
  margin-top: 0.5em;
}
